<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.hbm2ddl.auto">create</property>
    <mapping class="com.github.dmtk.entity.Sensor"/>
    <mapping class="com.github.dmtk.entity.Measurement"/>
  </session-factory>
</hibernate-configuration>
