@CHARSET "UTF-8";
.sensor { 
    border: 10px solid #4679bd;
    border-radius: 90px;
    height:90px;
    width:90px;
}

.login {
    margin: 0px auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 340px;
}