@CHARSET "UTF-8";
.sensor { 
    border: 10px solid #4679bd;
    border-radius: 150px;
    height:150px;
    width:150px;
}


.login{
    max-width: 330px;
    padding-top: 0;
    padding-bottom: 9em;
    margin: 0px auto;
    margin-top: 0px;
    margin-bottom: 0px;


}

.image{
    height: 480px;
    
    
}

p.large{
    font-size: 20px;

}
p.small{
    font-size: 15px;
}
p#displayTemp{
    display: none;
}

